mixin about()
  section.about.section-navigation#about
    .container2
      h2.titles(data-lang-key="headersSection")
      .about__wrap-text
        .about__text-section
          p.about__text.about__text--more-string(data-lang-key="aboutSection")
        .about__text-section
          p.about__text(data-lang-key="aboutSection")
          ul.about__list
            li.about__list-item
              p(data-lang-key="aboutSection")
            li.about__list-item
              p(data-lang-key="aboutSection")
            li.about__list-item
              p(data-lang-key="aboutSection")
            li.about__list-item
              p(data-lang-key="aboutSection")
            li.about__list-item
              p(data-lang-key="aboutSection")
            li.about__list-item
              p(data-lang-key="aboutSection")
          a.about__link(href="https://htmlacademy.ru/profile/id1248115/certificates" data-lang-key="aboutSection") Посмотреть сертификаты
        .about__text-section
          p.about__text.about__text--accent(data-lang-key="aboutSection")
          a.about__link(href="https://disk.yandex.ru/i/Scu-6tF-eQKz5Q" data-lang-key="aboutSection") Посмотреть рекомендацию
        .about__text-section
          p.about__text.about__text--more-string(data-lang-key="aboutSection")
