mixin intro()
  section.intro.section-navigation#intro
    .container2
      .intro__wrap
        h1.titles(data-lang-key="headersSection")
        p.intro__text(data-lang-key="introSection")
        .toggles-container.hidden(data-da=".navigator-toggles, 767, first")
          fieldset.toggle(data-toggle-color-theme)
            legend.visually-hidden Переключатель цветовой схемы
            label
              input.visually-hidden(type="radio" name="toggle-color-theme" value="light" aria-label="светлая")
              span
                +icon("icon-sun", 16, 16)
            label
              input.visually-hidden(type="radio" name="toggle-color-theme" value="dark" aria-label="темная")
              span
                +icon("icon-dark", 16, 16)
          fieldset.toggle(data-toggle-language)
            legend.visually-hidden Переключатель языка
            label
              input.visually-hidden(type="radio" name="toggle-language" value="ru" aria-label="русский" checked)
              span Ru
            label
              input.visually-hidden(type="radio" name="toggle-language" value="en" aria-label="английский" )
              span En

      .intro__image
        +picture-media({
          media: "max-width: 767px",
          path: "content",
          image: "i",
          image2: "i-mobile",
          format: "jpg",
          alt: "фото ",
        })
        //-<svg class="border-image" width="414" height="315.54998779296875" viewBox="0 0 414 316" preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg">
          <path d="M3.693921557239569 4.609071911234164 C155.34356981559657 4.102008425112731, 305.3081054565105 5.708627152052147, 402.74995468647575 4.270909269420575 M3.5179239699974056 3.5285685447673263 C130.21082350763595 4.858482364224712, 256.0810245872174 5.244637002974204, 401.8237335759159 3.6212158385426583 M401.08927605090526 2.87613704835655 C399.8142378697724 74.27468475293847, 399.8272629264132 145.01851539505006, 401.98582617528047 303.49437764065743 M401.31230724216215 3.324287847471383 C403.2977387576557 79.52152840913317, 401.96751165908876 155.10430064985556, 401.74195212304863 304.0489629579432 M402.96962356465633 304.1521653192448 C251.7624836490468 301.8718423113889, 100.05360986701956 301.99431743574803, 3.7964050510717517 303.9946224775029 M402.53161465170734 303.80009795792546 C247.6323005412173 303.74248975275856, 91.96145941551688 304.4819906400516, 4.201419708174431 304.1145602809252 M3.791612652900592 303.8244330283358 C3.347998004495175 221.93419634575417, 2.3576683823567555 138.89596712922898, 4.382018927527687 5.248352380405695 M3.552690785840612 304.1275785830757 C4.172494316218741 211.84833825121083, 3.755343468649335 120.54104114876027, 4.566743613545624 3.4580949400743775" stroke="currentColor"></path>
          <path d="M1.6975020376092949 306.1519348312381 C154.85736360243274 305.66089874653875, 306.351824858178 307.2487233801681, 404.74118177843 305.8177279881076 M1.5235632556216163 305.0840711040029 C129.47057478716158 306.4110954804007, 256.6045117193283 306.79273291404667, 403.8257955260016 305.1756346173797" style="opacity: 0.75;" stroke="currentColor"></path>
          <path d="M403.6093774535827 306.32729578882714 C403.9361867802735 189.2091583820324, 402.601512044733 76.08571556732366, 404.95710500447774 2.3457390455686387 M403.384766320986 304.9483389024314 C405.8216863734817 209.06349822849052, 405.89746155467833 113.60185616393156, 403.77504577322526 1.5165891712052582" style="opacity: 0.75;" stroke="currentColor"></path>
          <path d="M1.6975020376092949 306.1519348312381 C154.85736360243274 305.66089874653875, 306.351824858178 307.2487233801681, 404.74118177843 305.8177279881076 M1.5235632556216163 305.0840711040029 C129.47057478716158 306.4110954804007, 256.6045117193283 306.79273291404667, 403.8257955260016 305.1756346173797" style="opacity: 0.75;" stroke="currentColor"></path>
          <path d="M403.6093774535827 306.32729578882714 C403.9361867802735 189.2091583820324, 402.601512044733 76.08571556732366, 404.95710500447774 2.3457390455686387 M403.384766320986 304.9483389024314 C405.8216863734817 209.06349822849052, 405.89746155467833 113.60185616393156, 403.77504577322526 1.5165891712052582" style="opacity: 0.75;" stroke="currentColor"></path>
          <path d="M3.697502037609295 308.1519348312381 C156.85736360243274 307.66089874653875, 308.351824858178 309.2487233801681, 406.74118177843 307.8177279881076 M3.523563255621616 307.0840711040029 C131.47057478716158 308.4110954804007, 258.6045117193283 308.79273291404667, 405.8257955260016 307.1756346173797" style="opacity: 0.65;" stroke="currentColor"></path>
          <path d="M405.6093774535827 308.32729578882714 C405.9361867802735 191.2091583820324, 404.601512044733 78.08571556732366, 406.95710500447774 4.345739045568639 M405.384766320986 306.9483389024314 C407.8216863734817 211.06349822849052, 407.89746155467833 115.60185616393156, 405.77504577322526 3.516589171205258" style="opacity: 0.65;" stroke="currentColor"></path>
          <path d="M3.697502037609295 308.1519348312381 C156.85736360243274 307.66089874653875, 308.351824858178 309.2487233801681, 406.74118177843 307.8177279881076 M3.523563255621616 307.0840711040029 C131.47057478716158 308.4110954804007, 258.6045117193283 308.79273291404667, 405.8257955260016 307.1756346173797" style="opacity: 0.65;" stroke="currentColor"></path>
          <path d="M405.6093774535827 308.32729578882714 C405.9361867802735 191.2091583820324, 404.601512044733 78.08571556732366, 406.95710500447774 4.345739045568639 M405.384766320986 306.9483389024314 C407.8216863734817 211.06349822849052, 407.89746155467833 115.60185616393156, 405.77504577322526 3.516589171205258" style="opacity: 0.65;" stroke="currentColor"></path>
          <path d="M5.697502037609295 310.1519348312381 C158.85736360243274 309.66089874653875, 310.351824858178 311.2487233801681, 408.74118177843 309.8177279881076 M5.5235632556216165 309.0840711040029 C133.47057478716158 310.4110954804007, 260.6045117193283 310.79273291404667, 407.8257955260016 309.1756346173797" style="opacity: 0.55;" stroke="currentColor"></path>
          <path d="M407.6093774535827 310.32729578882714 C407.9361867802735 193.2091583820324, 406.601512044733 80.08571556732366, 408.95710500447774 6.345739045568639 M407.384766320986 308.9483389024314 C409.8216863734817 213.06349822849052, 409.89746155467833 117.60185616393156, 407.77504577322526 5.516589171205258" style="opacity: 0.55;" stroke="currentColor"></path>
          <path d="M5.697502037609295 310.1519348312381 C158.85736360243274 309.66089874653875, 310.351824858178 311.2487233801681, 408.74118177843 309.8177279881076 M5.5235632556216165 309.0840711040029 C133.47057478716158 310.4110954804007, 260.6045117193283 310.79273291404667, 407.8257955260016 309.1756346173797" style="opacity: 0.55;" stroke="currentColor"></path>
          <path d="M407.6093774535827 310.32729578882714 C407.9361867802735 193.2091583820324, 406.601512044733 80.08571556732366, 408.95710500447774 6.345739045568639 M407.384766320986 308.9483389024314 C409.8216863734817 213.06349822849052, 409.89746155467833 117.60185616393156, 407.77504577322526 5.516589171205258" style="opacity: 0.55;" stroke="currentColor"></path>
          <path d="M7.697502037609295 312.1519348312381 C160.85736360243274 311.66089874653875, 312.351824858178 313.2487233801681, 410.74118177843 311.8177279881076 M7.5235632556216165 311.0840711040029 C135.47057478716158 312.4110954804007, 262.6045117193283 312.79273291404667, 409.8257955260016 311.1756346173797" style="opacity: 0.45;" stroke="currentColor"></path>
          <path d="M409.6093774535827 312.32729578882714 C409.9361867802735 195.2091583820324, 408.601512044733 82.08571556732366, 410.95710500447774 8.345739045568639 M409.384766320986 310.9483389024314 C411.8216863734817 215.06349822849052, 411.89746155467833 119.60185616393156, 409.77504577322526 7.516589171205258" style="opacity: 0.45;" stroke="currentColor"></path>
          <path d="M7.697502037609295 312.1519348312381 C160.85736360243274 311.66089874653875, 312.351824858178 313.2487233801681, 410.74118177843 311.8177279881076 M7.5235632556216165 311.0840711040029 C135.47057478716158 312.4110954804007, 262.6045117193283 312.79273291404667, 409.8257955260016 311.1756346173797" style="opacity: 0.45;" stroke="currentColor"></path>
          <path d="M409.6093774535827 312.32729578882714 C409.9361867802735 195.2091583820324, 408.601512044733 82.08571556732366, 410.95710500447774 8.345739045568639 M409.384766320986 310.9483389024314 C411.8216863734817 215.06349822849052, 411.89746155467833 119.60185616393156, 409.77504577322526 7.516589171205258" style="opacity: 0.45;" stroke="currentColor"></path>
        //-</svg>
        +icon("rough-border-image", 414, 316).border-image

