.about {
  &__wrap-text {
    // max-width: 668px;
    // width: 100%;
    // margin: 0 auto;

    text-align: left;

    @include vp-767 {
      // max-width: 580px;
    }
  }

  &__text-section {
    display: flex;
    flex-direction: column;
  }

  &__text-section+.about__text-section {
    margin-top: 30px;
  }

  &__text,
  &__list {
    margin: 0;
  }

  &__text {
    min-height: 22px;
  }

  &__text--more-string {
    min-height: 44px;
  }

  &__text+a,
  &__list+a,
  &__text+.about__list {
    margin-top: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    margin-right: auto;

    p {
      margin: 5px 0;
    }
  }

  &__text--accent {
    margin-right: auto;
  }

  &__link {
    display: block;

    margin-right: auto;

    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 14px;
    line-height: 18px;

    min-height: 18px;

    @media (hover: hover),
    screen and (min-width: 0\0) {

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }
}

[data-color-theme="dark"] .about {
  .about__link {
    color: $color-default-white;
  }
}
