.footer {
  &__text {
    margin: 0;
    margin-bottom: 25px;
    min-height: 22px;
  }

  &__email {
    display: inline-block;

    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 12px 28px;
    border-radius: 25px;

    background-color: $color-black;

    color: $color-default-white;
    font-weight: 700;

    transition: opacity $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  &__links {
    display: inline-flex;

    margin: 0 auto;
    padding: 0;

    list-style: none;
  }

  &__link {
    display: block;

    transition: opacity $trans-default;

    svg {
      color: $color-black;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  &__link:not(:last-child) {
    margin-right: 60px;
  }
}


[data-color-theme="dark"] .footer {
  .footer__email {
    color: $color-black;
    background-color: $color-default-white;
  }

  .footer__link {
    svg {
      color: $color-default-white;
    }
  }
}

