.intro {
  .container2 {
    display: flex;
    gap: 40px;

    padding-top: 80px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;

    @include vp-767 {
      display: none;
    }
  }

  h1 {
    text-align: left;
    margin-right: auto;
  }

  &__text {
    text-align: left;
    margin-right: auto;
  }

  .toggles-container {
    margin-top: auto;
  }

  .toggle {
    margin-right: auto;
  }

  &__image {
    position: relative;

    width: 40%;
    aspect-ratio: 3 / 4;

    padding-top: 0%;
    padding-left: 0.4%;
    padding-right: 1.1%;
    padding-bottom: 2.1%;

    order: -1;

    @include vp-767 {
      width: 100%;
      aspect-ratio: 9 / 6;

      padding-top: 0.7%;
      padding-left: 0.7%;
      padding-right: 2.7%;
      padding-bottom: 2.7%;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .border-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}