/*
.intro {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    min-height: 106px;
    margin-bottom: 30px;
    padding-top: 80px;

    @include vp-767 {
      min-height: 66px;
      padding-top: 97px;
    }

    @include vp-767 {
      padding-top: 85px;
    }
  }

  h1 {
    width: 32%;
    margin-bottom: -12px;

    text-align: left;

    @include vp-1023 {
      margin-bottom: -7px;
    }

    @include vp-767 {
      display: none;
    }
  }

  p {
    width: 30%;
    margin: 0;
    margin-bottom: -3px;

    @include vp-767 {
      width: 100%;
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;

      text-align: center;
    }
  }

  p span {
    display: block;
  }

  .toggles-container {
    width: 32%;

    .toggle {
      margin-left: auto;
    }
  }

  &__image {
    position: relative;

    @include vp-767 {
      max-width: 422px;
      margin: 0 auto;
    }

    &::before {
      content: "";
      display: table;

      padding-bottom: 44.55%;

      @include vp-767 {
        padding-bottom: 66.35%;
      }
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
*/

.intro {
  .container2 {
    display: flex;
    gap: 40px;

    padding-top: 80px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;

    @include vp-767 {
      display: none;
    }
  }

  h1 {
    text-align: left;
    margin-right: auto;
  }

  &__text {
    text-align: left;
    margin-right: auto;
  }

  .toggles-container {
    margin-top: auto;
  }

  .toggle {
    margin-right: auto;
  }

  &__image {
    width: 40%;
    aspect-ratio: 3 / 4;

    order: -1;

    @include vp-767 {
      width: 100%;
      aspect-ratio: 9 / 6;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}