.tabs {
  max-width: 100%;
  -webkit-text-fill-color: $color-black;

  &__controls {
    position: relative;

    display: flex;
    justify-content: flex-start;

    width: 100%;
    margin-bottom: 80px;

    font-size: 32px;
    line-height: 120%;

    @include vp-767 {
      font-size: 22px;
    }

    div:nth-of-type(1) {
      left: 0;
    }

    div:nth-of-type(2) {
      right: 0;
    }

    .divider {
      position: absolute;
      left: 0;
      bottom: -20px;

      width: 100%;

      pointer-events: none;
    }
  }

  &__controls::-webkit-scrollbar {
    display: none;
  }

  &__control {
    position: relative;
    z-index: 2;

    cursor: pointer;

    margin: 0;
    padding: 15px 25px;
    opacity: 0.5;
    min-width: auto;
    justify-content: center;
    width: 50%;
    border: none;
    background-color: $color-transparent;

    &+.tabs__control-background {
      opacity: 0.5;
    }

    &.is-active {
      opacity: 1;
      color: $color-default-white;
      -webkit-text-fill-color: $color-default-white;
      pointer-events: none;

      position: relative;

      &+.tabs__control-background {
        color: $color-black;
        opacity: 0.7;
      }
    }
  }

  &__control-background {
    position: absolute;
    top: 0;

    width: 50%;
    height: 100%;
    padding: 2% 10%;

    pointer-events: none;

    color: $color-transparent;

    @include vp-767 {
      padding: 2% 6%;
    }

    svg {
      width: 100%;
      height: 100%;

      path {
        stroke-width: 3px;
      }
    }
  }

  &__content {
    transition: height 0.3s;
  }

  &__element {
    width: 100%;
  }

  &--unset .tabs__content {
    height: 100px;
  }

  &--unset .tabs__element {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

[data-color-theme="dark"] .tabs {
  color: $color-default-white;
  -webkit-text-fill-color: $color-default-white;

  .tabs__controls {
    .rough-annotation path {
      stroke: $color-default-white;
    }
  }

  .tabs__control.is-active {
    color: $color-black;
    -webkit-text-fill-color: $color-black;
  }

  .tabs__control.is-active+.tabs__control-background {
    color: $color-default-white;
  }
}