.toggle {
  display: flex;
  position: relative; //

  margin: 0;
  padding: 9px 10px;
  border: none;

  &__wrap {
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
  }

  label {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
  }

  &__label-wrap {
    position: absolute;
    top: -3px;
    left: -3px;

    pointer-events: none;
    color: $color-transparent;

    transition: color $trans-default;
  }

  label+label {
    margin-left: 8px;
  }

  input~span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;

    font-size: 16px;
    line-height: 16px;
    color: $color-grey;
    font-weight: 700;

    cursor: pointer;

    background-color: $color-default-white;

    transition: border-color $trans-default, background-color trans-default, color $trans-default;

    svg {
      display: block;
      width: 16px;
      height: 16px;
    }
  }

  input:checked~span {
    color: $color-black;
    cursor: default;
    background-color: $color-default-white;
  }

  input:checked+.toggle__label-wrap {
    color: $color-black;
  }

  input:focus-visible~span {
    box-shadow: 0 0 0 1px blue;
  }
}

[data-color-theme="dark"] .toggle {
  color: $color-default-white;

  input~span {
    color: $color-dark-gray;
    background-color: $color-black;

    svg {
      color: $color-grey;
    }
  }

  input:checked+.toggle__label-wrap {
    color: $color-default-white;
  }

  input:checked~span {
    color: $color-default-white;
    background-color: $color-black;

    svg {
      color: $color-default-white;
    }
  }
}

@include vp-767 {
  .hidden .toggle {
    display: none;
  }
}

.toggle:last-child {
  .toggle__label-wrap {
    left: -2px;
  }
}