.toggles-container {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 20px;
  }

  @include vp-767 {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

    & > * + * {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}
