mixin footer(footerMods)
  footer.footer(class=footerMods).section-navigation#contacts
    .container
      h2.titles(data-lang-key="headersSection")
      p.footer__text(data-lang-key="contactsSection")
      ul.contacts-links
        li.contacts-links__link
          span.visually-hidden e-mail
          a(href="mailto:kapitroman@yandex.ru")
            +icon("rough-mail", 40, 40)
        li.contacts-links__link
          span.visually-hidden github
          a(href="https://github.com/Kapitroman")
            +icon("rough-github", 40, 40)
        li.contacts-links__link
          span.visually-hidden telegram
          a(href="https://t.me/kapitroman")
            +icon("rough-telegram", 40, 40)
