mixin header(headerMods)
  -
    const headerLinks = [
      {
        href: "#intro",
        text: "Главная"
      },
      {
        href: "#about",
        text: "Обо мне"
      },
      {
        href: "#skills",
        text: "Навыки"
      },
      {
        href: "#portfolio",
        text: "Портфолио"
      },
      {
        href: "#contacts",
        text: "Контакты"
      },
    ]

  header.header.header--sticky(class=headerMods, data-fix-block, data-header="sticky", data-hide-point="50")
    .container2
      nav.navigation-changer
        .navigation-changer__wrapper-toggle
          .navigation-changer__wrapper-text
            h1.titles(data-lang-key="headerTitle")
            p.navigation-changer__text(data-lang-key="headerTitle")
          button.navigation-changer__toggle(type="button", aria-label="Переключатель отображения меню", aria-expanded="false")
            span.navigation-changer__burger-line.navigation-changer__burger-line--top
            span.navigation-changer__burger-line.navigation-changer__burger-line--center
            span.navigation-changer__burger-line.navigation-changer__burger-line--bottom

        .navigation-changer__menu
          ul.navigation-changer__list
            each link in headerLinks
              li.navigation-changer__item
                a.navigation-changer__link(href=link.href, data-navigation-link)
                  span(data-lang-key="navigationLinks")
                  svg(width="102" height="7" viewBox="0 0 102 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                    g
                      path(d="M0.8459707605448634 3.1934027038470703 C27.65975797696035 4.267159077985916, 52.91291842629538 2.732429870202971, 101.15540094503237 4.645037774166809 M-0.26561577230945943 1.128268793626814 C25.362782969217726 3.422168137229156, 51.37594930576036 4.046367481973845, 99.33627408281693 3.2840758558398147" stroke="currentColor" stroke-width="1" fill="none")

          .navigator-toggles
        ul.contacts-links
            li.contacts-links__link
              span.visually-hidden github
              a(href="https://github.com/Kapitroman")
                +icon("icon-github", 40, 40)
            li.contacts-links__link
              span.visually-hidden telegram
              a(href="https://t.me/kapitroman")
                +icon("icon-telegram", 40, 40)
            li.contacts-links__link
              span.visually-hidden skype
              a(href="skype:kapiroman")
                +icon("icon-skype", 40, 40)

