mixin header(headerMods)
  -
    const headerLinks = [
      {
        href: "#intro",
        text: "Главная"
      },
      {
        href: "#about",
        text: "Обо мне"
      },
      {
        href: "#skills",
        text: "Навыки"
      },
      {
        href: "#portfolio",
        text: "Портфолио"
      },
      {
        href: "#contacts",
        text: "Контакты"
      },
    ]

  header.header.header--sticky(class=headerMods, data-fix-block, data-header="sticky", data-hide-point="50")
    .container2
      nav.navigation-changer
        .navigation-changer__wrapper-toggle
          .navigation-changer__wrapper-text
            h1.titles(data-lang-key="headerTitle")
            p.navigation-changer__text(data-lang-key="headerTitle")
          button.navigation-changer__toggle(type="button", aria-label="Переключатель отображения меню", aria-expanded="false")
            span.navigation-changer__burger-line.navigation-changer__burger-line--top
            span.navigation-changer__burger-line.navigation-changer__burger-line--center
            span.navigation-changer__burger-line.navigation-changer__burger-line--bottom

        .navigation-changer__menu
          ul.navigation-changer__list
            each link in headerLinks
              li.navigation-changer__item
                a.navigation-changer__link(href=link.href, data-navigation-link, data-lang-key="navigationLinks")
          .navigator-toggles
        ul.contacts-links
            li.contacts-links__link
              span.visually-hidden github
              a(href="https://github.com/Kapitroman")
                +icon("icon-github", 40, 40)
            li.contacts-links__link
              span.visually-hidden telegram
              a(href="https://t.me/kapitroman")
                +icon("icon-telegram", 40, 40)
            li.contacts-links__link
              span.visually-hidden skype
              a(href="skype:kapiroman")
                +icon("icon-skype", 40, 40)

