mixin header(headerMods)
  -
    const headerLinks = [
      {
        href: "#intro",
        text: "Главная"
      },
      {
        href: "#about",
        text: "Обо мне"
      },
      {
        href: "#skills",
        text: "Навыки"
      },
      {
        href: "#portfolio",
        text: "Портфолио"
      },
      {
        href: "#contacts",
        text: "Контакты"
      },
    ]

  header.header.header--sticky(class=headerMods, data-fix-block, data-header="sticky", data-hide-point="50")
    .container2
      nav.navigation-changer
        .navigation-changer__wrapper-toggle
          .navigation-changer__wrapper-text
            h1.titles(data-lang-key="headerTitle")
            p.navigation-changer__text(data-lang-key="headerTitle")
          button.navigation-changer__toggle(type="button", aria-label="Переключатель отображения меню", aria-expanded="false")
            //-span.navigation-changer__burger-line.navigation-changer__burger-line--top
            //-span.navigation-changer__burger-line.navigation-changer__burger-line--center
            //- span.navigation-changer__burger-line.navigation-changer__burger-line--bottom
            <svg id="short-line3" class="navigation-changer__burger-line navigation-changer__burger-line--top" width="18" height="4" viewBox="0 0 18 4" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M-0.046843297610938306 1.60811194216725 C5.6054706184165966 0.6458864707252301, 14.077978914833878 3.5235843700381397, 18.76117682175668 1.6084525514507795 M0.6766217979984157 1.0579631925768025 C6.444189565937131 1.5673571991397333, 12.02507092462043 1.4612534322176516, 18.204425106454266 3.3087853144487402" stroke="#000" stroke-width="2" fill="none"></path></g></svg>

            <svg id="short-line4" class="navigation-changer__burger-line navigation-changer__burger-line--center"  width="18" height="4" viewBox="0 0 18 4" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M0.07148394480075715 1.5070855182510088 C4.250707034286259 1.4092209993848572, 13.82797489126396 3.1730151881527364, 17.070596424824238 2.9370904204528885 M0.23495588778915955 1.3687487940159506 C6.652911870961098 1.2823973262948947, 11.927153251588894 2.0731142173406276, 18.16593477333981 3.761680930285961" stroke="#000" stroke-width="2" fill="none"></path></g></svg>

            <svg id="short-line5" class="navigation-changer__burger-line navigation-changer__burger-line--bottom" width="18" height="4" viewBox="0 0 18 4" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M1.3273662482550326 1.6505334473790043 C4.87041301905094 0.8090758237381783, 7.210395521446321 1.3861176192129665, 16.894131481014572 1.8840465112070253 M-0.5039351035723911 1.0370965906201235 C3.83490886617207 1.1924071467295474, 8.348316249277724 1.418749664680845, 17.392384871244854 2.3702826263717527" stroke="#000" stroke-width="2" fill="none"></path></g></svg>

        .navigation-changer__menu
          ul.navigation-changer__list
            each link in headerLinks
              li.navigation-changer__item
                a.navigation-changer__link(href=link.href, data-navigation-link)
                  span(data-lang-key="navigationLinks")
                  svg(width="102" height="7" viewBox="0 0 102 7" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg")
                    g
                      path(d="M0.8459707605448634 3.1934027038470703 C27.65975797696035 4.267159077985916, 52.91291842629538 2.732429870202971, 101.15540094503237 4.645037774166809 M-0.26561577230945943 1.128268793626814 C25.362782969217726 3.422168137229156, 51.37594930576036 4.046367481973845, 99.33627408281693 3.2840758558398147" stroke="currentColor" stroke-width="2" fill="none")

          .navigator-toggles
        ul.contacts-links
            li.contacts-links__link
              span.visually-hidden github
              a(href="https://github.com/Kapitroman")
                +icon("icon-github", 40, 40)
            li.contacts-links__link
              span.visually-hidden telegram
              a(href="https://t.me/kapitroman")
                +icon("icon-telegram", 40, 40)
            li.contacts-links__link
              span.visually-hidden skype
              a(href="skype:kapiroman")
                +icon("icon-skype", 40, 40)

        <svg class="divider" width="720" height="5" viewBox="0 0 720 5" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M0.42679969268783147 2.7882086711942695 C253.013925384804 -0.17239920492705751, 504.697554964807 0.8612945087814444, 719.4263526581958 2.9639741807662707 M-0.10230486088734603 1.8389657498372518 C240.39070887650257 4.498672810968758, 480.5043882592422 4.380404290824792, 719.778208608325 2.6498753457063944" stroke="currentColor" stroke-width="1" fill="none"></path></g></svg>

